<section class="Candidatures-listWrapper-list List wishlist">
  <!-- Candidatures-listWrapper-list List wishList -->
  <div class="List-header">
    <figure class="List-header-figure">
      <img class="List-header-figure-img" src="./assets/wishlist-dot.svg" alt="">
      <h3 class="List-header-figure-title">Wishlist</h3>
    </figure>
    <p class="List-header-applyCount">2</p>
  </div>
  <p></p>
  <div class="List-card Card">
    <div class="Card-top">
      <div class="Card-top-info">
        <p class="Card-top-info-companyName">No application yet !</p>
        <p class="Card-top-info-jobTitle"> Create your wished job offer.</p>
      </div>

    </div>


  </div>
  <!-- <div class="List-card Card">
      <div class="Card-top">
          <div class="Card-top-info">
              <p class="Card-top-info-companyName">Dassault</p>
              <p class="Card-top-info-jobTitle">Backend Engineer</p>
          </div>
          <button class="Card-right-editBtn">
              <img src="./assets/ellipsis-btn.png" alt="">
          </button>
      </div>
      <div class="Card-middle">
              <p class="Card-middle-tag toApply">CV Envoyé</p>
              <p class="Card-middle-tag">Remote</p>
      </div>
      <div class="Card-bottom">
          <p class="Card-bottom-dateText">Envoyé il y a 3 j.</p>
          <div class="Card-bottom-notis">
              <img src="./assets/bell-small.svg" class="Card-right-notis-img"/>
              <p class="Card-bottom-notis-text">A rappeler dans 3j.</p>
          </div>
      </div>
  </div>  -->
</section>
