<header class="flex justify-between items-center">
  <!-- Candidatures-header -->
  <h3 class="Candidatures-header-title ">Candidatures</h3>
  <div class="flex items-center gap-[1em]">
    <figure  class="relative h-6">
      <img src="./assets/bell.svg" alt="" class="h-6 cursor-pointer">
      <div class="absolute right-0 bottom-3 text-[10px] text-center text-main-bg w-4 h-4 bg-red-500 rounded-[50%]">{{ userNotis() }}</div>

    </figure>
    <button class="cursor-pointer flex items-center border border-[#E6E8F0] p-[0.5em] rounded-[8px] gap-[1em]">
      <img src="./assets/funnel.svg" alt="" class="h-5">
      <p class="text-base-size text-[#020617]">Trier par</p>
      <img class="h-4" src="./assets/arrow-sort.svg" alt="">
    </button>

  </div>
</header>
